:root {

    font-family: roboto;

    --header-font-color: #89a4a7;
    --header-bg-color: #7d5169;

    --main-font-color: var(--header-bg-color);

    --container-bg-color: #a5f3fc;

    --btn-bg-color: #fcf2a4;

    --input-bg-color: hsl(186.21, 93.55%, 94%);

}

* {
    box-sizing: border-box;
}

body {
    background-color: #89a4a7;
    margin: 0;
}

header {
    color: var(--header-font-color);
    background-color: var(--header-bg-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 32px 15% 32px calc(15% + 100vw - 100%);
    margin-bottom: 24px;
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, 20vw);
    justify-content: center;
}

header nav {
    text-align: center;
    cursor: pointer;
}

#header-img {
    height: 90%;
    position: absolute;
    top: 5%;
    left: 48px;
}

.name-container {
    color: var(--main-font-color);
    font-weight: bold;
    text-align: center;
}

.name-container h1 {
    font-size: 3.5rem;
    padding-left: calc(100vw - 100%);
    margin: 0;
}

.name-container div {
    font-size: 1.2rem;
    text-align: center;
}

.container {
    color: var(--main-font-color);
    background-color: var(--container-bg-color);
    text-align: center;
    padding: 64px 32px;
    margin: 24px 15vw 24px 15vw;
    width: 70vw;
}

.container > * {
    margin: 24px auto;
}

/* ----------------- Home ----------------- */

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-container > img {
    width: 40%;
    margin: auto;
    display: block;

    grid-column: 1 / 3;
}

.txt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-div > p {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0px 32px;
    margin: 0;
}

.txt-div.btn-div {
    grid-column: 1 / 3;
}

.txt-div.btn-div > p {
    flex: 1 1 auto;
}

.btn-div > button {
    color: inherit;
    background-color: var(--btn-bg-color);
    font-size: 1.2rem;
    font-weight: bold;
    width: 180px;
    height: 60px;
    border: 4px solid #7d5169;
    border-radius: 81px;
    margin: 12px auto 12px;
    cursor: pointer;

    flex: 0 0 auto;
}

.location {
    width: 100%;
    height: 320px;
}

#order-now {
    font-size: 1.8rem;
    width: 240px;
    height: 240px;
    border: 8px solid #7d5169;
    border-radius: 50%;
}

/* ----------------- Menu ----------------- */

.menu-container {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    padding: 0px 16px;
    width: 50%;

    display: flex;
    flex-direction: column;
}

.title-div {
    padding-left: 16px;

    display: grid;
    grid-template-columns: 152px 1fr;
    align-items: center;
}

.title-div[noimg] {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.subitems-div {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 24px 0px 0px 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-subitem {
    display: grid;
    grid-template-columns: max-content 1fr 6ch;
    grid-template-rows: 1fr 0px;
}

.menu-subitem[desc] {
    grid-template-rows: 1fr max-content;
}

.menu-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.menu-title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: start;
}

.title-div[noimg] .menu-title {
    text-align: center;
}

.subitem-name button {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: start;
    border: 0;
    cursor: pointer;
}

.subitem-name button:focus {
    outline: none;
}

.subitem-price {
    text-align: start;
}

.subitem-desc {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: start;
    padding: 0px 2ch 0px 6px;
    margin: 2px 0px 8px 0px;

    grid-column: span 3;

    visibility: hidden;
}

.menu-subitem[desc] .subitem-desc {
    visibility: visible;
}

/* ----------------- Contact ----------------- */

.contact-container {
    display: flex;
    flex-wrap: wrap;
}

.contact-div {
    font-weight: bold;

    flex: 0 0 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-div > div {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-div > div:nth-last-child(n + 2) {
    margin-bottom: 4px;
}

.contact-div>div>div:first-child {
    margin-bottom: 1px;
}

.contact-div > div > div:nth-child(n + 2) {
    font-weight: normal;
}

.contact-container > .form-div {
    background-color: #fcf2a4;
    border: 4px solid var(--main-font-color);
    border-radius: 2vw;
    width: 42vw;

    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
}

#contact-form {
    flex-direction: column;
    gap: 1.8vh;
}

#contact-form .input-field-div {
    font-weight: bold;
}

#contact-form .form-header {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

#contact-form button {
    color: var(--btn-bg-color);
    background-color: var(--header-bg-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 4% 10%;
    border: 0;
    border-radius: 32px;
    margin-top: 2vh;
    cursor: pointer;
    
    align-self: center;
}

#contact-form[show-invalid] .input:invalid {
    outline: 2px solid #f43f5e;
}

/* ----------------- Form ----------------- */

.form-div {
    padding: 5% 10%;
}

.form-div form {
    display: flex;
}

.input-field-div {
    --lh: 1.2em;
    line-height: var(--lh);

    display: grid;
    grid-template-rows: 1rem 1fr;
    gap: 0.8vh;
}

.input-field-div > label {
    text-align: start;
    padding-left: 0.2vw;

    grid-row: 1;
}

.input {
    color: var(--main-font-color);
    background-color: var(--input-bg-color);
    font-weight: bold;
    padding-left: 1.8ch;
    border: 0;
    border-radius: 1.5ch;
}

.input:focus {
    outline: 2px solid var(--header-bg-color);
}

.input-field-div > input {
    height: calc(var(--lh)*1.5);
}

.input-field-div > textarea {
    line-height: var(--lh);
    padding-top: calc(var(--lh)*0.5);
    height: calc(var(--lh)*17);
    resize: none;
}